@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    object-fit: cover;
    height: 150px;
    width: 200px;
}

p {
    margin-bottom: 10px;
}

.container {
    background: #373737;
    display: flex;
    justify-content: center;
}

.container .container-background-image {
    width: 915px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/Assets/background.jpg");
    background-size: cover;
    gap: 50px;
    padding-bottom: 15px;
}

/* NAVIGATION STYLE */

.container-background-image .navigation {
    height: 10%;
    width: 100%;
    padding-top: 10px;
    transform: translateY(15px);
}

.container-background-image .navigation::after {
    content: "";
    display: block;
    width: 915px;
    height: 1px;
    background-color: #d3ceca;
    transform: translateY(-15px);
    position: relative;
    z-index: 0;
}

.container-background-image .navigation ul {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #DFDBD8, -1px -1px 3px #DFDBD8;
}

.container .navigation ul li {
    margin: auto;
    padding: 8px 6px;
    display: flex;
    align-items: center;
}

.container .navigation ul li:hover{
    color: #D45738;
}

.container .navigation ul li a {
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    color: #4a4747;
    transition: all 0.2s ease-in-out;
}

.container .navigation ul li a:hover {
    color: #D45738;
}

/* MAIN */

.main {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main .main-head {
    font-size: 15px;
}

.main .main-head span {
    display: block;
}

.main .main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main .main-content .main-content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.main .main-content .main-content-left img {
    width: 100%;
    height: 200px;
}

.main .main-content .main-content-left .description {
    font-size: 13px;
    text-align: justify;
}

.main .main-content .main-content-left input {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #DFDBD8;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.main .main-content .main-content-left input:hover {
    color: #ffffff;
    background-color: #D45738;
}

.main .main-content .main-content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.main .main-content .main-content-right img {
    width: 100%;
    height: 200px;
}

.main .main-content .main-content-right .description {
    font-size: 13px;
    text-align: justify;
}

.main .main-content .main-content-right input {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #DFDBD8;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.main .main-content .main-content-right input:hover {
    background-color: #D45738;
    color: #ffffff;
}
